<div class="container">
	<div class="row" style="padding-top: 40vh;">
		<div class="col-md-6 col-md-offset-3 vcenter">
			<h1 style="color: white;text-align: center;vertical-align: middle;font-size: 3.2em;">Hi! I am Ambarish.</h1>
			<p style="color: white;text-align: center;vertical-align: middle;font-size: 1.2em;">This is my spot!</p>
			
			<div class="center-block mybtn" ui-sref="about" data-toggle="tooltip" data-placement="bottom" title="About Me">
				<i class=" fa fa-chevron-down " ></i>	
			</div>
			
			
		</div>
	</div>
</div>